/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

#top-bar a {
  background-color: #0b1019;
}

.flash {
  position: absolute;
  margin-top: 305px;
  width: 100%;
  text-align: center;
  color: #fac639;
}
.top-bar {
  background-color: black;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 1;
  width: 100%;
}

#registration {
  position: absolute;
  width: 70%;
  margin: 46px 15%;
}

.navBarMargins {
  padding: 0 50px 0 50px;
}

#sign-up {
  background-color: #f1cb47;
  font-weight: 300;
  font-size: 17px;
  color: black;
  font-family: "Montserrat", sans-serif;
  opacity: 1;
}
#sign-in {
  font-weight: 300;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  background-color: #383f2f;
  opacity: 1;
  color: white;
  /* background: rgba(0, 0, 0, 0.7); */
  opacity: 0.9;
}
#sign-out {
  font-weight: 300;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  opacity: 1;
  background-color: #383f2f;
}

#my-favorites {
  background-color: #f1cb47;
  font-weight: 300;
  font-size: 17px;
  color: black;
  font-family: "Montserrat", sans-serif;
  opacity: 1;
}

.body {
  font-family: "Montserrat", sans-serif;
  display: grid;
}

.no {
  opacity: 0.5;
}

.no,
.yes {
  display: flex;
  flex-direction: row;
  font-size: 35px;
  margin-left: 12px;
  margin-top: -5px;
}

.myfavorites h2 {
  color: #4c4c4c;
  display: flex;
  flex-direction: row;
  position: absolute;
}

.favorite-container {
  position: absolute;
  margin-left: 50px;
}

#favorite-title {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  word-wrap: normal;
  margin: 10px 0 40px 5px;
  text-align: center;
  color: #4c4c4c;
  padding-bottom: 30px;
}

.favorite-title-page h2 {
  font-family: "Montserrat", sans-serif;
  margin: 85px 0 0 0;
  color: #4c4c4c;
  display: flex;
  flex-direction: row;
}

.favorite-image {
  margin-top: 50px;
}

#recipe-main-image {
  width: 50%;
  height: auto;
  margin-right: 5%;
  float: left;
  /* margin-bottom: 20px; */
}

#recipe-name h5 {
  word-wrap: break-word;
  text-align: center;
  color: red;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

#recipe-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  margin-top: 800px;
}

.indexContainer {
}
.title-area {
  display: flex;
  flex-direction: row;
}

#logo {
  height: 70%;
  display: flex;
  flex-direction: column;
  opacity: 1;
}

.name {
  display: flex;
  flex-direction: row;
}

#logo img {
  width: 100px;
  height: 37px;
  margin-top: 4px;
  opacity: 1;
}

.recipe-tile {
  object-fit: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  overflow: hidden;
  justify-content: center;
  align-self: flex-start;
}

.ready-in-minutes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 52px;
}

.recipe-image img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  /* overflow: hidden; */
  align-items: flex-start;
  position: relative;
  float: left;
  width: 340px;
  height: 300px;
  /* background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; */
  margin: 0px 15px 15px 0px;
}
.index-results {
  position: absolute;
  width: 100%;
  margin-top: 700px;
}
.recipe-details {
  padding-left: 10%;
  margin-bottom: 80px;
  vertical-align: text-bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #738930;
  font-family: "Montserrat", sans-serif;
}

.recipe-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  word-wrap: normal;
  margin-top: 20px;
  justify-content: center;
  margin-right: 25px;
}

.show-image {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  color: #4c4c4c;
}

.steps li {
  margin: 10px;
  size: 55px;
  font-size: 20px;
}
#amount li {
  margin: 10px;
  color: red;
}

.diet {
  display: flex;
  flex-direction: row;
}

.cross,
.tick {
  font-size: 25px;
  margin-left: 100px;
  margin-top: 20px;
}

/* showpage styling  */

.showContainer {
}

.show-title h2 {
  margin: 20px 375px 40px 0;
  color: #4c4c4c;
  display: flex;
  flex-direction: row;
}

.show-ingredients li {
  color: #4c4c4c;
  font-size: 20px;
}
.instruction-title {
  color: #4c4c4c;
  margin-bottom: 18px;
}
.what-you-need {
  color: #4c4c4c;
  padding-bottom: 10px;
}

.instructions {
  margin-top: 55px;
  margin-right: 110px;
  color: #4c4c4c;
}

.ready h5 {
  margin-bottom: 40px;
  /* margin-top: 10px; */
  color: #4c4c4c;
  font-weight: 300px;
  font-size: 20px;
}

/* .ingredient {
  object-fit: contain;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 33%;
  overflow: hidden;
  padding: 15px;
  margin-top: 15px 20px 0 0;
} */

.ingredient-name {
  justify-content: center;
  font-size: 15px;
  padding: 0 5px 0 5px;
  font-family: "Montserrat", sans-serif;
}

.spanImage img {
  object-fit: contain;
  object-fit: cover;
  justify-content: center;
  width: 100%;
  height: 305px;
  position: absolute;
  /* position: absolute; */
}

.spanImage {
  z-index: 0;
}
.searchForm {
  position: absolute;
  margin-top: 305px;
  width: 100%;
}

/* radio button */
.radio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  font-family: "Montserrat", sans-serif;
  margin: 0 10%;
}

#radio-1 {
  padding-bottom: 15px;
}
#radio-2 {
  padding-bottom: 15px;
}
#radio-3 {
  padding-bottom: 15px;
}

.diet-message-1 {
  display: flex;
  flex-direction: column;
  color: #747474;
  margin-bottom: 15px;
  margin-top: 50px;
}

.dietMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  color: #333333;
  text-align: center;
  size: 50px;
}

/* search form */

.searchbox {
  margin-top: 25px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  margin-left: 230px;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  margin: 0 21%;
}

#search-button {
  background-color: #fac92a;
  color: black;
  text-align: center;
  font-size: 20px;
  padding: 1em;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  margin-top: 15px;
}

.filter-wrapper {
  display: flex;
  flex-direction: row;
}

.showContainer {
  margin-top: 65px;
  position: absolute;
  width: 100%;
  margin-left: 50px;
}
.optional-filters {
  display: flex;
  flex-direction: row;
  margin-right: 25px;
  color: #747474;
}

.big {
  width: 2em;
  height: 2em;
}

.radio-label {
  size: 10px;
  margin-bottom: 10px;
}

/* @import url(https://fonts.googleapis.com/css?family=Roboto:300); */

/* List styling */
.featureList,
.featureList ul {
  margin-top: 0;
  padding-left: 2em;
  list-style-type: none;
}
.featureList li:before {
  position: absolute;
  margin-left: -1.3em;
  font-weight: bold;
}
.featureList li.tick:before {
  content: "\2713";
  color: darkgreen;
}
.featureList li.cross:before {
  content: "\2717";
  color: #f9c829;
}
