/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

#top-bar a {
  background-color: #0b1019;
}

.top-bar {
  background-color: #7a7a7a;
  /* opacity: 0.5; */
}

.navBarMargins {
  padding: 0 50px 0 50px;
}

#sign-up {
  background-color: #fac92a;
  font-weight: 300;
  font-size: 14px;
  color: black;
  font-family: "Poppins", sans-serif;
}
#sign-in {
  font-weight: 300;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  background-color: #7a7a7a;
}
#sign-out {
  font-weight: 300;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  background-color: #7a7a7a;
}

.body {
  font-family: "Poppins", sans-serif;
  display: grid;
}

#recipe-main-image {
  width: 50%;
  height: auto;
  margin-right: 5%;
  float: left;
  margin-bottom: 20px;
}

#recipe-name h5 {
  word-wrap: break-word;
  text-align: center;
  color: red;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

#recipe-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.title-area {
  display: flex;
  flex-direction: row;
}

.logo {
  height: 70%;
  display: flex;
  flex-direction: column;
}

.name {
  display: flex;
  flex-direction: row;
}

.logo img {
  width: 100px;
  height: 37px;
  margin-top: 4px;
}

.app-name {
}

.recipe-tile {
  height: 600px;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  overflow: hidden;
}

.recipe-image {
  height: 400px;
  overflow: hidden;
  border-radius: 5%;
}

.recipe-image img {
  height: 400px;
  overflow: hidden;
  border-radius: 5%;
  width: 100%;
  height: 75%;
}

.recipe-details {
  padding-left: 10%;
  vertical-align: text-bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #738930;
  font-family: "Poppins", sans-serif;
}

.recipe-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

/* showpage styling  */

.ingredient {
  object-fit: contain;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 33%;
  overflow: hidden;
  padding: 15px;
  margin-top: 15px 20px 0 0;
}

.ingredient-name {
  justify-content: center;
  font-size: 15px;
  padding: 0 5px 0 5px;
  font-family: "Poppins", sans-serif;
}

.spanImage img {
  object-fit: contain;
  object-fit: cover;
  width: 100%;
  height: 200px;
}

/* radio button */
.radio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 50px;
  font-family: "Poppins", sans-serif;
}

#radio-1 {
  padding-bottom: 15px;
}
#radio-2 {
  padding-bottom: 15px;
}
#radio-3 {
  padding-bottom: 15px;
}

.diet-message-1 {
  color: #484848;
}

.diet-message-2 {
  color: #484848;
}

.dietMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  font-family: "Poppins", sans-serif;
  color: #333333;
  text-align: center;
}
/* search form */

.search-and-button {
  margin-top: 60px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.searchbox {
  height: 20px;
  width: 350px;
  margin-right: 10px;
  font-family: "Poppins", sans-serif;
}

#search-button {
  background-color: #fac92a;
  border-radius: 20px;
  text-align: center;
  font-size: 12px;
  padding: 1em;
  font-family: "Poppins", sans-serif;
}

/* @import url(https://fonts.googleapis.com/css?family=Roboto:300); */

/* List styling */
.featureList,
.featureList ul {
  margin-top: 0;
  padding-left: 2em;
  list-style-type: none;
}
.featureList li:before {
  position: absolute;
  margin-left: -1.3em;
  font-weight: bold;
}
.featureList li.tick:before {
  content: "\2713";
  color: darkgreen;
}
.featureList li.cross:before {
  content: "\2717";
  color: crimson;
}
