/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

#top-bar a {
  background-color: #0b1019;
}

.navBarMargins {
  margin: 0 15% 0 15%;
}

.recipe-tile-image {
  text-overflow: ellipses;
  object-fit: contain;
  width: 225px;
  height: 225px;
}

#recipe-index-container {
  margin: 0 15% 0 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recipe-tile-li {
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  background-color: #0b1019;
  margin: 20px;
  text-align: center;
  border-radius: 0 0 20px 20px;
  font-variant: small-caps;
  font-size: 20px;
}

.recipe-image {
  float: left;
  border-radius: 8px;
}

#recipe-main-image {
  width: 20%;
  height: auto;
  margin-right: 5%;
  float: left;
  margin-bottom: 20px;
}

.recipe-details {
  padding-left: 10%;
}

.recipe-details-alignment {
  vertical-align: text-bottom;
}

#recipe-name h5 {
  word-wrap: break-word;
  text-align: center;
  color: red;
  font-weight: 500;
}
